.section__design {
    padding-bottom: 80px;

    h2 {
        font-size: @font-size__l;
        color: @color-dark;
        font-weight: 300;
        padding-bottom: 30px;
    }

    .inner {
        display: flex;
        background-color: @color-dark;

        > div {
            width: 100% / 3;
            height: 400px;
            .transition;

            &:hover {
                .shadow__mid;
                position: relative;
                z-index: 10;
            }
        }

        .image {
            background-position: center;
            background-size: cover;
            align-items: flex-end;
            justify-content: center;
            display: flex;

            .btn {
                margin-bottom: 30px;
            }
        }

        .desc {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                padding: 50px;
            }
        }

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            p {
                font-size: 50px;
                text-align: center;
                text-transform: uppercase;
            }
        }


    }

    .doors-light {
        .title {
            .gradient-light
        }

        .image {
            background-image: url(../img/dis-1.jpg);
        }
    }

    .doors-standart {
        .title {
            .gradient-standart
        }

        .image {
            background-image: url(../img/dis-2.jpg);
        }
    }

    .doors-elite {
        .title {
            .gradient-elite
        }

        .image {
            background-image: url(../img/dis-3.jpg);
        }
    }
}
