* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: @Montserrat;
    font-size: @font-size__m;
    color: @color-light;
}

.wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.btn {
    display: block;
    padding: 10px 30px;
    background-color: #4CAF50;
    color: @color-light;
    border-radius: 30px;
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
    .transition;
    .shadow__min;
    

    &:hover {
        background-color: @color-secondary + 10%;
        .shadow__mid;
    }

    &.light {
        color: @color-dark;
        background-color: @color-light;

        &:hover {
            background-color: @color-primary;
        }
    }
}

.sale {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 5px 20px;
    background-color: @color-primary;
    border-radius: 30px;
    color: @color-dark;

}
