@color-light: #fff;
@color-dark: #8a8a8a;
@color-primary: #fcff00;
@color-secondary: #41b66d;

@gradient-light: repeating-linear-gradient(to bottom right, rgb(183, 235, 152) 0%, rgb(125, 219, 85) 100%);
@gradient-standart: repeating-linear-gradient(to bottom right, rgb(116, 222, 124) 0%, rgb(42, 164, 46) 100%);
@gradient-elite: repeating-linear-gradient(to bottom right, rgb(102, 211, 166) 0%, rgb(56, 175, 95) 100%);

@font-famaly: 'Montserrat', sans-serif;
